@charset "UTF-8";


*{margin: 0;padding: 0;}


.border{
    height: 100vh;
}

.border .border_blob{
    width: 480px;
    height: 480px;
    position: relative;
    left: calc(50% - 240px);
    top: calc(50% - 240px);
    overflow: hidden;
    /* 수평:h  수직:v  왼쪽:l  오른쪽:r  위쪽:t  아래쪽:b */
    border-radius: 20px;  /* -> tl tr br bl */
    border-radius: 10px 40px;  /* -> tr bl , tr bl */
    border-radius: 10px 40px 80px;  /* -> tl , tr br , bl */
    border-radius: 44% 56% 70% 30% / 52% 30% 70% 48% ; 
    /* -> htl, htr , hbr , hbl / vtl , vtr , vbr , vbl; */
    animation: go 5s linear infinite alternate both;
}

.border .border_blob img{
    width: 100%;
    height: 100%;
}

@keyframes go{
    0%{border-radius: 37% 63% 30% 70% / 38% 50% 50% 62%  ;}
    50%{border-radius: 63% 37% 53% 47% / 26% 47% 53% 74% ;}
    100%{border-radius: 46% 54% 56% 44% / 56% 36% 64% 44% ;}

}


.border .ro{
    width: 480px;
    height: 480px;
    position: absolute;
    left: calc(50% - 240px);
    top: calc(50% - 240px);
    animation: rotate 3s linear infinite alternate both;

}
.border .ro .border_blob2{
    position: absolute;
    left: 0; top: 0;
    width: 480px;
    height: 480px;
    border: 1px solid #222;
    animation: go 6s linear infinite alternate both;

}

.border .ro .bb2{
    animation-delay: 1s;
}

@keyframes rotate{
    0%{transform: rotate(0deg);} /* //degree : 각도 */
    100%{transform: rotate(360deg);}
}